# Dependencies
node_modules/

# Build output
dist/

# iOS
ios/Pods/
ios/.build/
ios/*.xcworkspace
ios/DerivedData/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/build/
android/local.properties
android/*.iml
android/.idea/

# IDE
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

# Environment
.env
.env.local
